<mat-card class="card-busca" appearance="outlined">
    <mat-card-header>
      <!-- tem como colocar condição no ngIf // *ngIf="x === y" -->
      <div class="title-tesc" *ngIf="aparecer; else titleNotFound">
        <mat-card-title>{{ titulo }}</mat-card-title>
        <mat-card-subtitle>{{ desc }}</mat-card-subtitle>
      </div>
      <ng-template #titleNotFound>
        <div>
          <mat-card-title>Título não encontrado</mat-card-title>
          <mat-card-subtitle>Descrição não encontrada</mat-card-subtitle>
        </div>
      </ng-template>
    </mat-card-header>
    <img mat-card-image src="/assets/imagens/Veneza.png" alt="Imagem Veneza">
    <mat-card-content>  
        <ul>
            <li>{{ nome }}</li>
            <li *ngFor="let preco of precos; let i = index">
              {{ preco }}
            </li>
        </ul>    
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button>Ver Detalhes</button>
    </mat-card-actions>
</mat-card>
