<mat-card class="depoimento">
    <mat-card-content>
        <img src="assets/imagens/avatar3.png" alt="Avatar da pessoa">
        <ul>
            <li>{{ depoimento }}</li>
            <li>
                <strong>{{ autoria }}</strong>
            </li>
            <li>
                <button [ngStyle]="{ 'background-color': bgColor, 'color': color }" (click)="showBG()">RED</button>
                <button class="btn-blue" (click)="showBG()">BLUE</button>
                <button class="btn-green" (click)="showBG()">GREEN</button>
                <span>{{ show }}</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>