<mat-card class="depoimento" *ngFor="let cartao of cartoes">
    <mat-card-content>
        <img src="{{ cartao.foto }}" alt="Avatar da pessoa">
        <ul>
            <li>{{ cartao.depoimento }}</li>
            <li>
                <strong>{{ cartao.autoria }}</strong>
            </li>
            <li>
                <button [ngStyle]="{ 'background-color': bgColor, 'color': color }" (click)="showBG()">RED</button>
                <button class="btn-blue" (click)="showBG()">BLUE</button>
                <button class="btn-green" (click)="showBG()">GREEN</button>
                <span>{{ show }}</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>