<mat-card class="depoimento">
    <mat-card-content>
        <img [src]="foto" alt="Avatar da pessoa">
        <ul>
            <li>{{ depoimento }}</li>
            <div class="dep">
                <li>
                    <strong>{{ autoria }}</strong>
                </li>
                <li>
                    <button 
                        [ngClass]="{ 'selected': isSelected }" 
                        (click)="changeButton()">RED</button>
                    <button [ngClass]="{ 'selected': isSelected }" (click)="changeButton()">BLUE</button>
                    <button [ngClass]="{ 'selected': isSelected }" (click)="changeButton()">GREEN</button>    
                </li>
            </div>
        </ul>
    </mat-card-content>
</mat-card>