<app-banner 
    src="assets/imagens/banner-homepage.png" 
    alt="Banner da homepage">
</app-banner>
<app-container>
    <h2>Promoções</h2>
    <div class="card-wapper">
        <!-- esse 'compartilhando' é do elemento pai -->
        <app-card-busca [titulo]="compartilhando"></app-card-busca>
        <!-- já esse, é do elemento escoped -->
        <app-card-busca titulo="filho"></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-depoimentos">
        <!-- CONTEM UM FOR -->
        <app-card-depoimento></app-card-depoimento>
    </div>
</app-container>
<app-banner 
        src="\assets\imagens\banner-homepage-rodape.png" 
        alt="Banner da homepage Rodapé">
</app-banner>

