<footer>
    <div class="about">
        <img src="\assets\imagens\logo-com-tagline.png" alt="">
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Lucius Hebert. Projeto fictício sem fins comerciais.</p>
    </div>
    <div class="redes">
        <span>Acesse nossas redes:</span>
        <div class="icons">
            <a href="#">
                <img src="\assets\icones\whatsapp.png" alt="Logo Whatsapp">
            </a>
            <a href="#">
                <img src="\assets\icones\instagram.png" alt="Logo Instagram">
            </a>
            <a href="#">
                <img src="\assets\icones\twitter.png" alt="Logo Twitter">
            </a>
        </div>
    </div>
</footer>

